<%-include("../partials/admin-header") %>
<!-- Button trigger modal -->
<div class="d-flex justify-content-end mt-3 add-product">
    <button type="button" class="btn addcategorybtn   " data-bs-toggle="modal" data-bs-target="#exampleModal">Add Category</button>
</div>
<div class="categoryerr">
  <% if (errorMessage) { %>
    <p class="alert alert-danger">
        <%= errorMessage %>
    </p>
    <% } %>
</div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
 
          <form action="/admin/addcategory" method="POST">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="categoryName" name="categoryName" placeholder="Enter Category Name" required>
              <label for="categoryName">Category Name</label>
            </div>
          
            <div class="form-floating">
              <textarea class="form-control" id="categoryDescription" name="categoryDescription" placeholder="Enter Category Description"></textarea>
              <label for="categoryDescription">Category Description</label>
            </div>
          
            <button type="submit" class="btn btn-outline-success btn-block mt-3">Add Category</button>
          </form>
          
        </div>
      </div>
    </div>
  </div>
  <!-- Display Categories in a Table -->
<div class="container mt-4">
    <h3>Category List</h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Category Name</th>
          <th scope="col">Category Description</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% categories.forEach(category => { %>
          <tr>
            <td><%= category.categoryName %></td>
            <td><%= category.categoryDescription %></td>
            <td>
              <% if (category.isListed) { %>
                <a href="/admin/categoryIsListed/<%= category._id %>" class="btn btn-outline-success btn-sm">Listed</a>
              <% } else { %>
                <a href="/admin/categoryIsListed/<%= category._id %>" class="btn btn-outline-danger btn-sm">Unlisted</a>
              <% } %>
                <a href="/admin/editcategory?id=<%= category._id %>" class="btn btn-outline-primary btn-sm">Edit</a>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>



  <%-include("../partials/end") %>