<%-include("../partials/admin-header") %>


    <div class="content">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <div id="AddCpnForm">
                        <form class="row g-3 needs-validation d-flex my-3 shadow-lg p-4 rounded" style="background-color: lightgrey;" action="/admin/coupon" method="POST" id="couponForm">
                            <div class="col-md-6">
                                <label for="startDate" class="form-label">Starting Date</label>
                                <input type="Date" class="form-control" id="startDate" name="startDate" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="endDate" class="form-label">End Date</label>
                                <input type="Date" class="form-control" id="endDate" name="endDate" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>

                            <div class="col-md-6 ">
                                <label for="couponValue" class="form-label">Discount Percentage (%)</label>
                                <div class="input-grou has-validation">
                                    <input type="Number" class="form-control" id="discountValue" name="discountValue"
                                    aria-describedby="inputGroupPrepend" placeholder="" required>
                                    <div class="invalid-feedback">
                                        Please choose a Coupon Value
                                    </div>
                                </div>
                            </div>                                                 
                            
                            <div class="col-md-6 ">
                                <label for="couponCode" class="form-label">Coupon Code</label>
                                <input type="text" class="form-control" id="couponCode" name="couponCode" required>
                                <div class="invalid-feedback">
                                    Please provide a valid coupon code.
                                </div>
                            </div>
                            
                            <div class="col-md-6 ">
                                <label for="purchaseLimit" class="form-label">Purchase Limit</label>
                                <input type="number" class="form-control" id="purchaseLimit" name="purchaseLimit" required>
                                <div class="invalid-feedback">
                                    Please provide a valid coupon code.
                                </div>
                            </div>
                            
                            <div class="form-floating col-md-12 ">
                                <textarea class="form-control" id="description" name="description" required></textarea>
                                <label class="form-label" for="floatingTextarea">Description</label>
                                <div class="invalid-feedback">
                                    Please provide a Description.
                                </div>
                            </div>
                            

                            <div class="">
                                <button class="btn" style="background-color: rgb(75, 195, 242); color: #fff;" id="addCouponButton" type="submit">Add coupon</button>
                            </div>
                        </form>
                    </div>
                </div>                         
            </div>
            <div class="container">

         
            <div class="row mt-5  ">
                <div>
                    <h3 class="mb-3">Coupons</h3>
                    <div class="d-flex justify-content-end m-2">
                        <button class="btn btn-secondary" style="margin-right: 1rem;" id="allcoupons"> All coupons</button>
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Select Date
                        </button>
                        <ul class="dropdown-menu">
                          <form action="#" id="dateForm">
                            <li class="dropdown-item text-muted" href="#">From</li>
                            <li> <input type="date" name="startDate" id="EndDate" class="mb-3 dropdown-item"></li>
                            <li class="dropdown-item text-muted" href="#">To</li>
                            <li> <input type="date" name="endDate" id="endDate" class="mb-3 dropdown-item"></li>
                            <li class="dropdown-item"><button type="submit" class="btn btn-dark ">Find</button></li>
                          </form>
                        </ul>
                        <p id="dateErr" class="mb-3 text-danger"></p>
                      </div>
                </div>
             
                <div class="col-md-12">
                    <table class="table table-bordered table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>#ID</th>
                                <th>Coupon code</th>
                                <th>Discount Percentage</th>
                                <th>Used Count</th>
                            
                                <th>Description</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% let counter = 1; %>
                            <% coupon.forEach(couponItem => { %>
                                <tr>
                                    <td><%= counter %></td>
                                    <td><%= couponItem.couponCode %></td>
                                    <td><%= couponItem.discountValue %></td>
                                    <td><%= couponItem.usedUsersCount %></td>
                                 
                                    <td><%= couponItem.description %></td>
                                    <td><%= couponItem.startDate.toLocaleDateString() %></td>
                                    <td><%= couponItem.endDate.toLocaleDateString() %></td>
                                    <td class="">
                                        <a class="d-flex justify-content-center rounded-3 " style="text-decoration: none; color: #fff; background-color: rgb(81, 194, 232); width: 3.4rem;" href="/admin/editcoupon?Id=<%= couponItem._id %>">Edit</a>
                                        <br>
                                        <a  href="/admin/deletecoupon?couponId=<%= couponItem._id %>" style="text-decoration: none; color: #fff; background-color: rgb(231, 65, 65);  padding: 3px;" class="delete-coupon-button rounded">Delete</a>


                                    </td>
                                </tr>
                                <% counter++; %>
                            <% }); %>
                        </tbody>
                    </table>
                </div>

                <div class="pagination-container">
                    <nav aria-label="Page navigation example">
                      <ul class="pagination">
                        <% if (currentPage > 1) { %>
                            <li class="page-item">
                              <a class="page-link" href="/admin/coupons?page=<%= currentPage - 1 %>" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                              </a>
                            </li>
                          <% } %>
                          
                          <% for (let i = 1; i <= totalPages; i++) { %>
                            <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                              <a class="page-link bg-dark" href="/admin/coupons?page=<%= i %>"><%= i %></a>
                            </li>
                          <% } %>
                          
                          <% if (currentPage < totalPages) { %>
                            <li class="page-item">
                              <a class="page-link" href="/admin/coupons?page=<%= currentPage + 1 %>" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                              </a>
                            </li>
                          <% } %>
                          
                      </ul>
                    </nav>
                  </div>
                
            </div>
        </div>
        </div>
    </div>



    <script>
        // filter

        const dateForm = document.getElementById('dateForm');
        dateForm.addEventListener('submit', async (e) => {
        e.preventDefault();

        let startDate = dateForm.startDate.value;
        let endDate = dateForm.endDate.value;

        if (startDate === '' || endDate === '') {
            document.querySelector('#dateErr').innerHTML = 'Please select Date';
        } else {
            startDate = new Date(startDate);
            endDate = new Date(endDate);

            if (startDate >= endDate) {
            document.querySelector('#dateErr').innerHTML = 'Please check your selected Date';
            } else {
            const isoStartDate = startDate.toISOString();
            const isoEndDate = endDate.toISOString();
            // Encode dates before adding to URL
            const encodedStartDate = encodeURIComponent(isoStartDate);
            const encodedEndDate = encodeURIComponent(isoEndDate);

            const datedFilter = `/admin/coupons?startDate=${encodedStartDate}&endDate=${encodedEndDate}`;
            window.location.href = datedFilter;
            }
        }
        });

        document.getElementById('allcoupons').addEventListener('click', function () {
        const currentUrl = window.location.href.split('?')[0];
        window.location.href=currentUrl
        });


        document.getElementById('couponForm').addEventListener('submit', async function (event) {           
            event.preventDefault();    
            if (await validateForm()) {              
                this.submit();
            }
        });
    
        async function validateForm() {
            var startDate = new Date(document.getElementById('startDate').value);
            var endDate = new Date(document.getElementById('endDate').value);
            var discountValue = document.getElementById('discountValue').value;
            var couponCode = document.getElementById('couponCode').value;
            var purchaseLimit = document.getElementById('purchaseLimit').value;
            var description = document.getElementById('description').value;       
            if (!startDate || !endDate || !discountValue || !couponCode || !purchaseLimit || !description) {
                alert('Please fill out all required fields.');
                return false;
            }                
            if (startDate > endDate) {
                alert('End date must be greater than or equal to start date.');
                return false;
            }             
        if (discountValue <= 0) {
            alert('Discount value must be a positive number.');
            return false;
        }    
            return true;
        }
    </script>
    
    

    <script src="/javascripts/activeNavbar.js"></script>
    <%-include("../partials/end") %>