<%-include("../partials/admin-header") %>

<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-12">
          <div class="order-management">
            <h3>Orders List</h3>
          </div>
            <div class="rounded">
                <div class="table-responsive table-borderless">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Order ID</th>
                                <th>Number</th>
                                <th>Total</th>
                                <th>status</th>
                                <th>Date</th>
                                <th>Method</th>
                                <th>Action</th>
                                
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="table-body orderlist">
                            <% orders.forEach(order=>{ %>
                            <tr class="cell-1" >
                              <td>ODR<%= order._id.toString().slice(-4) %></td>
                                <td> <%= order.user.phone %></td>
                                <td><%= order.totalPrice %></td>
                                <td><%= order.orderStatus %></td>
                                <td><%=order.orderDate.toLocaleDateString() %></td>
                                <td><%= order.paymentMethod %></td>
                                <td>
                                    <a href="/admin/ordersdetails?orderId=<%= order._id %>">
                                        <button class="btn btn-success" style="font-size: 10px; padding: 5px 10px;">Details</button>
                                    </a>                                   
                                </td>
                                
                                <td><i class="fa fa-ellipsis-h text-black-50"></i></td>
                            </tr>
                            <% }) %>
                            
                        </tbody>
                    </table>
                    <div class="pagination-container">
                        <nav aria-label="Page navigation example">
                          <ul class="pagination">
                            <% if (currentPage > 1) { %>
                              <li class="page-item">
                                <a class="page-link" href="/admin/orders?page=<%= currentPage - 1 %>" aria-label="Previous">
                                  <span aria-hidden="true">&laquo;</span>
                                </a>
                              </li>
                            <% } %>
                      
                            <% for (let i = 1; i <= totalPages; i++) { %>
                              <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                                <a class="page-link" href="/admin/orders?page=<%= i %>"><%= i %></a>
                              </li>
                            <% } %>
                      
                            <% if (currentPage < totalPages) { %>
                              <li class="page-item">
                                <a class="page-link" href="/admin/orders?page=<%= currentPage + 1 %>" aria-label="Next">
                                  <span aria-hidden="true">&raquo;</span>
                                </a>
                              </li>
                            <% } %>
                          </ul>
                        </nav>
                      </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/activeNavbar.js"></script>
<%-include("../partials/end") %>
