<%-include("./partials/header") %>
<%-include("./partials/navigation") %>

<section class="py-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="card">
            <div class="card-header text-center">
              <h3>Edit Address</h3>
            </div>
            <div class="card-body">
              <form action="/updateaddress" method="POST">
                <input type="hidden" name="addressId" value="<%= address._id %>">
                <div class="form-group">
                  <label for="fullName">Full Name</label>
                  <input type="text" class="form-control" id="fullName" name="fullName" value="<%= address.fullName %>" >
                </div>
                <div class="form-group">
                  <label for="addressline">Address line</label>
                  <input type="text" class="form-control" id="addressline" name="addressline" value="<%= address.addressline%>" >
                </div>
                <div class="form-group">
                  <label for="addressline">City</label>
                  <input type="text" class="form-control" id="city" name="city" value="<%= address.city %>" >
                </div>
                <div class="form-group">
                  <label for="addressline">State</label>
                  <input type="text" class="form-control" id="state" name="state" value="<%= address.state %>" >
                </div>
                <div class="form-group">
                  <label for="addressline">Pincode</label>
                  <input type="text" class="form-control" id="pincode" name="pincode" value="<%= address.pincode %>" >
                </div>
                <div class="form-group">
                  <label for="addressline">Country</label>
                  <input type="text" class="form-control" id="country" name="country" value="<%= address.country %>" >
                </div>
                <div class="form-group">
                  <label for="addressline">Phone</label>
                  <input type="text" class="form-control" id="phone" name="phone" value="<%= address.phone %>" >
                </div>
               
                <!-- Add similar fields for state, landmark, pincode, country, phone, altPhone -->
                <button class="btn btn-outline-primary btn-block mt-3" type="submit">Save Changes</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%-include("./partials/footer")  %> 
  <%-include("./partials/end") %>
  