<%- include("./partials/header") %>
<%- include("./partials/navigation") %>

<div class="container shadow-lg">
    <article class="card">
        <header class="card-header"> My Orders / Tracking </header>
        <div class="card-body">
            <h6>Order ID:<%= order._id %></h6>
            <article class="card">
                <div class="card-body row">
                    <div class="col"> <strong>Deliver to:</strong> <br><%= address.fullName%> <br> <%= address.addressline %><br><%= address.city,%> ,<%= address.pincode %>  </div>
                    <div class="col"> <strong>Shipping BY:</strong> <br> BLUEDART, | <i class="fa fa-phone"></i> +1598675986 </div>
                    <div class="col"> <strong>Status:</strong> <br> <%= order.orderStatus %></div>
                    <div class="col"> <strong>Tracking #:</strong> <br> <%= order._id %> </div>
                </div>
            </article>
            <div class="track">
                <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Order confirmed</span> </div>
                <div class="step active"> <span class="icon"> <i class="fa fa-user"></i> </span> <span class="text"> Picked by courier</span> </div>
                <div class="step "> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> On the way </span> </div>
                <div class="step "> <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">Ready for pickup</span> </div>
            </div>
            <hr>
            <ul class="row">
                <% order.products.forEach(item=>{%>                
                <li class="col-md-4">
                    <figure class="itemside mb-3">
                        <div class="aside"><img src="/images/uploads/<%= item.product.ProductImage[0].filename %>" class="img-sm border"></div>
                        <figcaption class="info align-self-center">
                            <p class="title"> <%= item.product.Name %> <br> </p> <span class="text-muted">Price: <%= item.product.Price %> <br>Quantity: <%= item.quantity %> </span>
                        </figcaption>
                    </figure>
                    <div class="order-control-btn mt-3 ">
                        <a  href=""><button class="p-1">Return</button></a>
                        <a href=""><button class="p-1">Cancel</button></a>
                    </div>
                </li>
                <%}) %>
            </ul>
            <hr>
            <a href="/orderlist" class="btn btn-warning" data-abc="true"> <i class="fa fa-chevron-left"></i> Back to orders</a>
        </div>
    </article>
</div>


<%-include('./partials/footer') %>
<%- include("./partials/end") %>