<%-include("./partials/header")  %>

<%-include("./partials/navigation")  %>


  <div class = "main-wrapper">
    <div class = "container-product-details">
        <div class = "product-div">
            <div class = "product-div-left">
                <div class = "img-container">
                 
                    <img class="main__img"  src="/images/uploads/<%= products.ProductImage[0].filename %>" alt="<%= products.Name %>" />
                </div>
                <div class = "hover-container">
                    <% products.ProductImage.slice(0, 5).forEach(image => { %>
                        <div class="sub-img">
                            <img src="/images/uploads/<%= image.filename %>" alt="<%= products.Name %>">
                        </div>
                    <% }); %>
                </div>
               
                
            </div>
            <div class = "product-div-right">
                <span class = "product-name"><%=products.Name %>(<%= products.Features[0].Color %>,<%= products.Features[0].Storage %>)</span>
                <span class = "product-price">₹ <%=products.Price %></span>
                <div class = "product-rating">
                    <span><i class="bi bi-star"></i></span>
                    <span><i class = "fas fa-star"></i></span>
                    <span><i class = "fas fa-star"></i></span>
                    <span><i class = "fas fa-star"></i></span>
                    <span><i class = "fas fa-star-half-alt"></i></span>
                    <span>Rating</span>
                </div>
                <p class = "product-description"><%= products.Description %></p>
                <div class="varient-select d-flex justify-content-around">

                    <p class = " capitalize">RAM : <%= products.Features[0].Ram %></p>
                    <p class = " capitalize">Storage : <%= products.Features[0].Storage %></p>
                </div>
               

                    <p class = "capitalize shadow-lg p-1 text-center product-spec" >Processor : <%= products.Features[0].Processor %></p>
                    <p class = " capitalize shadow-lg p-1 text-center product-spec">Operating system : <%= products.Features[0].Os %></p>
                    <p class = " capitalize shadow-lg p-1 text-center product-spec">Color : <%= products.Features[0].Color %></p>
               
                <div class = "btn-groups">
                    <button  type = "button" class = "add-cart-btn">add to cart</button>
                    <button  type = "button" class = "buy-now-btn">Buy Now</button>
                
                </div>
            </div>
        </div>
    </div>
</div>
<%-include("./partials/footer")  %> 
<script>
  
const allHoverImages = document.querySelectorAll('.hover-container div img');
const imgContainer = document.querySelector('.img-container');

window.addEventListener('DOMContentLoaded', () => {
    allHoverImages[0].parentElement.classList.add('active');
});

allHoverImages.forEach((image) => {
    image.addEventListener('mouseover', () =>{
        imgContainer.querySelector('img').src = image.src;
        resetActiveImg();
        image.parentElement.classList.add('active');
    });
});

function resetActiveImg(){
    allHoverImages.forEach((img) => {
        img.parentElement.classList.remove('active');
    });
}
</script>
<%-include("./partials/end")  %> 